<!-- Header -->
<div id="topbar" class="topbar  dark d-none d-xl-block d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="top-menu">
                    <li><a href="#">Телефон: +7 950-208-92-79 </a></li>
                    <li><a href="#">Email: serega89630@mail.ru</a></li>
                </ul>
            </div>
            <div class="col-md-6 d-none d-sm-block">
                <div class="social-icons social-icons-colored-hover">
                    <ul>
                        <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header -->
<header id="header" data-transparent="false" class="dark menu-split">
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="/" class="logo" data-src-dark="images/logo-dark.png">
                    <p class="text-xs text-azure">БИЗНЕС ГАРАНТ</p>
                </a>
            </div>
            <!--End: Logo-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
                <button class="lines-button x"><span class="lines"></span></button>
            </div>
            <!--end: Navigation Resposnive Trigger-->

            <!--Navigation-->
            <div id="mainMenu" class="light">
                <div class="container">
                    <nav>
                        <!--Left menu-->
                        <ul>
                            <li><a href="#page-title">Главная</a></li>
                            <li><a href="#section-1">Цели</a></li>
                            <li><a class="btn btn-danger" href="#franshiza">Франшиза</a></li>

                        </ul>
                        <!--Right Menu-->
                        <ul>
                            <li><a href="#bissnes">Готовый бизнес</a></li>
                            <li><a href="#contacts">Контакты</a></li>
                        </ul>

                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->
{#<header id="header" data-transparent="true" data-fullwidth="true" class="dark">#}
{##}
{#    <div class="header-inner">#}
{#        <div class="container">#}
{#            <div id="logo">#}
{#                <a href="/" class="logo" data-src-dark="images/logo-dark.png">#}
{#                    {% if settings.site_settings.ContactSettings.logo %}#}
{#                        <img src="{{ settings.site_settings.ContactSettings.logo }}" alt="{{ site_name }}">#}
{##}
{#                    {% else %}#}
{#                        {{ settings.site_settings.ContactSettings.name }}#}
{#                    {% endif %}#}
{#                </a>#}
{#            </div>#}
{#            <div id="mainMenu-trigger">#}
{#                <button class="lines-button x"><span class="lines"></span></button>#}
{#            </div>#}
{#            <div id="mainMenu" class="menu-one-page">#}
{#                <div class="container">#}
{#                    <nav>#}
{#                        <ul>#}
{#                            <li><a href="#home">Главная</a></li>#}
{#                            <li><a href="#home">Цели</a></li>#}
{#                            <li><a href="#home">Франшиза</a></li>#}
{#                            <li><a href="#home">Готовый бизнес</a></li>#}
{#                            <li><a href="#contacts">Контакты</a></li>#}
{#                        </ul>#}
{#                    </nav>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</header>#}
<!-- end: Header -->
